{% extends '../dashboard.html' %}

{% block content %}
<div class="d-flex justify-content-end m-3">
    <a href="#" class="btn  btn-sm btn-primary">
        SOME ACTION
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <td>ACC NO</td>
            <td>OWNER</td>
            <td>Balance</td>
            <td>Created</td>
            <td>Status</td>
            <td>#</td>
            <td>#</td>
        </tr>
    </thead>

    {% for account in accounts %}
    <tr>
        <td>{{account.account_no}}</td>
        <td>{{account.user.email}}</td>
        <!-- <td>
            {% if account.is_active %}
                <a href="" class="btn btn-outline-primary btn-sm rounded">Active</a>
            {% else %}
                <a href="" class="btn btn-danger btn-sm rounded">Not active</a>
            {% endif %}
        </td> -->
        <td>{{account.balance}}</td>
        <td>{{account.user.date_joined}}</td>
        <td>
            <a href="{% url 'update_account' account.id %}" class="btn btn-sm btn-success rounded">Update</a>
        </td>
        <td>
            <a href="#" class="btn btn-primary btn-sm rounded">Details</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}