{% extends '../user_home.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
<div class="container py-4">
    <div class="card p-3 rounded">
        <p class="font-weight-bold">Withdraw Funds</p>

        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" class="btn btn-sm btn-primary" value="Withdraw">
        </form>

        <p class="py-2 small">Account Balance: ${{ account.balance }}</p>
        <a href="{% url 'transaction_history' %}" class="text-primary text-xs">Back To Transaction History</a>
    </div>
</div>
{% endblock %}