{% extends '../register_user.html' %}

{% block content %}
<div class="container-fluid p-5 mt-5">
    <div class="row border border-2 rounded">
        <div class="col col-12 col-lg-6 p-5 rounded d-flex flex-column justify-content-center bg-signin text-white lh-lg">

            <div class="overlay"></div>
            <h1 class="my-3">Hello 👋</h1>

            <h5>Ready to start your success story ?</h5>
            <h5>
                Sign in to our website to start leafing through the financial tips that would up your investiment game a
                notch higher.
            </h5>
        </div>
        <div class="col">
            <div class="p-md-5 p-3">
                <div class="form-container">
                    <p class="small text-center fw-lighter">Learn.Invest.Earn.</p>
                    <h4 class="text-center mb-4">Welcome back!</h4>

                    {% if messages %}
                    {% for message in messages %}
                    {{message}}
                    {% endfor %}
                    {% endif %}
                    {% block form_data %}
                    <p>Step 1 of 2</p>
                    <form method="POST" action="{% url 'signup_step1' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.first_name }}
                        </div>
                        <div class="mb-3">
                            {{ form.last_name }}
                        </div>
                        <div class="mb-3">
                            {{ form.phone_no }}
                        </div>
                        <div class="mb-3">
                            {{ form.address }}
                        </div>

                        <button type="submit" class="btn btn-dark w-100 mb-3">Next Step</button>
                    </form>

                    <p class="text-center">Already have an account? <a href="{% url 'signin' %}"
                            class="text-decoration-none">Sign
                            In</a>
                    </p>
                    {% endblock %}
                    <!-- <div class="divider">or</div>
                    <a href="#" class="auth-btn">
                        <img src="https://www.google.com/favicon.ico" alt="Google Logo">
                        Continue with Google
                    </a>
                    <a href="#" class="auth-btn">
                        <img src="https://twitter.com/favicon.ico" alt="Twitter Logo">
                        Continue with Twitter
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}