{% extends './signup_step1.html' %}


{% block form_data %}
<div class="d-flex justify-content-between">
    <p>Step 2 of 2</p>
    <p><a href="" class="text-decoration-none">Back To Step 1</a></p>
</div>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.email }}
    </div>
    <div class="mb-3">
        {{ form.password1 }}
    </div>
    <div class="mb-3">
        {{ form.password2 }}
    </div>
    <button type="submit" class="btn btn-dark w-100 mb-3">Create Account</button>
</form>
<p class="text-center">Already have an account? <a href="{% url 'signin' %}" class="text-decoration-none">Sign
        In</a>
</p>
{% endblock %}