{% extends './dashboard.html' %}

{% block content %}
<div class="card p-3 rounded">
    <h5>Personal Information:</h5>
    <hr>

    <p>First Name: {{admin_info.first_name}}</p>
    <p>Last Name: {{admin_info.last_name}}</p>
    <p>Address: {{admin_info.address}}</p>
    <p>Email: {{admin_info.email}}</p>
    <p>Joined: {{admin_info.date_joined}}</p>
    <p>Status: <br>
        {% if admin_info.is_active %}
            <button class="btn btn-sm btn-outline-success rounded">Active</button>
        {% else %}
            <button class="btn btn-sm btn-outline-danger rounded">Not Active</button>
        {% endif %}
    </p>
</div>

{% endblock  %}