{% extends '../dashboard.html' %}

{% block content %}
<div class="d-flex justify-content-end">
    <a href="{% url 'add_user' %}" class="btn btn-primary">
        Add User
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Status</td>
            <td>User Type</td>
            <td>Account No</td>
            <td>Joined</td>
            <td>#</td>
            <td>#</td>
        </tr>
    </thead>

    {% for user in users %}
    <tr>
        <td>{{user.first_name}}</td>
        <td>{{user.email}}</td>
        <td>
            {% if user.is_active %}
                <a href="" class="btn btn-outline-primary btn-sm rounded">Active</a>
            {% else %}
                <a href="" class="btn btn-danger btn-sm rounded">Not active</a>
            {% endif %}
        </td>
        <td>{{user.user_type}}</td>
        <td>{{user.account_no}}</td>
        <td>{{user.date_joined}}</td>
        <td>
            <a href="{% url 'update_user' user.id %}" class="btn btn-sm btn-success rounded">Update</a>
        </td>
        <td>
            <a href="{% url 'user_details' user.id %}" class="btn btn-primary btn-sm rounded">Details</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}